<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer_id %>
</p>

<p>
  <strong>Products:</strong>
  <% @order.order_items.each do |order_item| %>
    <%= order_item.product.name %> => <%= order_item.quantity%>
  <% end %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<p>
  <strong>Payed amount:</strong>
  <%= @order.payed_amount %>
</p>

<p>
  <strong>Remaining amount:</strong>
  <%= @order.remaining_amount %>
</p>

<%= link_to 'Back', orders_path, class: 'btn btn-primary'%>
