<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer_id %>
</p>

<p>
  <strong>Products:</strong>
  <%= @order.products %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<p>
  <strong>Payed amount:</strong>
  <%= @order.payed_amount %>
</p>

<p>
  <strong>Remaining amount:</strong>
  <%= @order.remaining_amount %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
